<article>
    <H1>CPR in ASL</H1>
    <p class="subtitle">You can't make someone more dead from CPR.</p>
    <section>
        <P>
            <label class="margin-toggle sidenote-number" for="sn-resusquote"></label>
            <input id="sn-resusquote" class="margin-toggle" type="checkbox"><span class="sidenote">
        <a href="https://www.resus.org.uk/faqs/faqs-cpr/">Resuscitation Council (UK)</a>
    </span>
    Effective <A href="https://en.wikipedia.org/wiki/Cardiopulmonary_resuscitation">CPR</A> more than doubles the chance of someone surviving a cardiac arrest.
    </P>
            </section>
<section>
		<p>
      <label class="margin-toggle sidenote-number" for="sn-video"></label>
      <input id="sn-video" class="margin-toggle" type="checkbox">
      <span class="sidenote">
       From the <a href="https://asdb.az.gov/">Arizona School for the Deaf and Blind.</A>

    </span>

    Video is in ASL and English. It's 71MB large and might take a little bit to load.
    If you have trouble, it's also available on
    <a href=https://www.youtube.com/watch?v=eAWg149XCs4">youtube</A>.
		</P>
		<video controls class="fullwidth">
			<source src="../static/asl-cpr.mp4" type="video/mp4">
			<P>your browser does not support HTML5 <a href="asl-cpr.mp4">download</A> instead.</P>
		</video>
</section>
		<p>

        <section>
<h3>How to do Hands-only CPR</h3>
<p>When somebody collapses in front of you, what do you do?</p>
<ol>
    <li>Check the person over. If they are not responsive and not breathing(and not choking), then their heart has stopped working and they are having a cardiac arrest.</li>
    <li>Now, call 911. Then you do CPR.</li>
    <li>If others are around, have them try to find an AED nearby and use it.</li>
    <li>Lock your fingers together, knuckles up. Then push down, right on the sovereign. Push down five or six centimetres. That&rsquo;s about two inches. Push hard and fast about two times a second, like to the beat of Stayin&rsquo; Alive. Don&rsquo;t worry about hurting someone. A cracked rib can be mended &ndash; just concentrate on saving a life.</li>
    <li>Keep this up until the ambulance arrives.</li>
</ol>
<p>So don&rsquo;t forget. Check them over. Call 911. Push hard and fast to a fast song <a href="https://open.spotify.com/user/americanheartassociation/playlist/6larteGNSuXdBhaYKLybwa">(spotify playlist)</A>. It works. </p>
        </section>
        <section>
<P>In many countries, including the USA, there is a <a href="https://en.wikipedia.org/wiki/Good_Samaritan_law">Good Samaritan Law</a>
 that generally prevents you from lawsuits for doing your best to help someone.</P>


    </p>
        </section>
        </article>
