<article>
	<section>
	<H1>Legal Information</H1>
<P>
Services are open to the general public, except administration services such as SSH, which are only open
to adminstrators of the machines/services.</P>

<h3>No warranties expressed or implied</h3>
<ul>
    <li>We make no warranties that anything here will be useful or correct.</li>
    <li>We also make no warranty that anything here will be available past the moment you retrieved it.</li>
	<LI>All services are delivered on a best-effort basis, when the administrators are not busy sleeping.</LI>
</ul>

<h3>Law Enforcement Information</h3>
<P>If you are law enforcement, we require subpeonas for information, about a visitor.
However, you should know that we probably do not have any information of use to your investigation(s).</P>

<P>Information we collect:</P>

<ul>
	<li>IP address while a user is currently connected. Usually not logged past 24hrs.</LI>
	<LI>Other information as part of the the HTTP protocol(<a href="https://tools.ietf.org/html/rfc2616">RFC 2616</a> and friends). Usually not logged past 24hrs.</LI>
</UL>

<P>See the footer on every page for contact information.
</P>

<UL>
	<LI>We do store banned IP addresses for longer than 24 hours(sometimes).</LI>
	<LI>We have no analytics collection here and try to not use any javascript.</LI>
</UL>

<P>Being banned usually happens when you try to access private services such as SSH.
    General browsing of this website will not get you banned.
</P>
	</section>
</article>
