<article id="handshape-1" >
    <section>
        <H2>1</H2>
        <img src="1.svg">
        <P>Fist with thumb covering fingers, with the index finger pointed out.</P>
        <P>In hold-move chart: <a href="https://en.wiktionary.org/wiki/1@Side-PalmForward#American_Sign_Language">1o-f</a></P>
        <P>Jolanta Lapiak handshape: <a href="https://www.handspeak.com/ref/handshape/index.php?abc=1">1-index</a>
        <H3>Signs using this handshape:</H3>
        <UL>
            <LI>The Number 1</LI>
            <LI>You/Me/Them</LI>
            <li>For</li>
            <li>think</li>
        </UL>
    </section>
</article>
