<article id="handshape-3-claw" >
    <section>
        <H2>3 claw</H2>
		<img src="3.svg">
		<P>The 3 claw handshape is an open hand fingers and thumb spread wide in a "claw"/bent , with the ring and pinky fingers tucked in against the palm.</p>
        <P>In hold-move chart: <a href="https://en.wiktionary.org/wiki/Index:American_Sign_Language/Bent3">V"~u"</a></P>
        <P>Jolanta Lapiak handshape: <a href="https://www.handspeak.com/ref/handshape/index.php?abc=3-claw">3-claw</a>
        <H3>Signs using this handshape:</H3>
        <UL>
            <li>Listen</li>
            <li>bug</li>
            <li>horny</li>
        </UL>
    </section>
</article>
