<article id="handshape-3" >
    <section>
        <H2>3</H2>
		<img src="3.svg">
		<P>The "3" handshape is an open hand fingers and thumb spread wide, with the ring and pinky fingers tucked in against the palm.</p>
        <P>In hold-move chart: <a href="https://en.wiktionary.org/wiki/Index:American_Sign_Language/3">Vu</a></P>
        <P>Jolanta Lapiak handshape: <a href="https://www.handspeak.com/ref/handshape/index.php?abc=3-open">3-open</a>
        <H3>Signs using this handshape:</H3>
        <UL>
            <li>Number 3</li>
            <li>car</li>
            <li>3rd</li>
        </UL>
    </section>
</article>
