<article id="handshape-D" >
    <section>
        <H2>D</H2>
		<img src="d.svg">
		<P>Index finger pointed out, Thumb touching middle, ring and pinky fingers, which are shaped in an O shape</P>
        <P>In hold-move chart: <a href="https://en.wiktionary.org/wiki/Index:American_Sign_Language/X"> 1"~o-f</a></P>
        <P>Jolanta Lapiak handshape: <a href="https://www.handspeak.com/ref/handshape/index.php?abc=1-claw">1-claw</a>
        <H3>Signs using this handshape:</H3>
        <UL>
            <li></li>
        </UL>
    </section>
</article>
