<article id="handshapes">
    <section>
	  <H2>ASL Handshapes</H2>
      <P>ASL has more than 50 handshapes that all ASL signs are derived from. 26 of them are for the alphabet.
          The rest are used for numbers and various other vocabulary/words.
          Handshapes are the shapes of the hand, but do not include any movement, facial expressions, body posture, etc that also make up the entire vocabulary of ASL.</P>
          <P>Memorizing handshapes are not very useful in and of themselves, but knowing that the sign for recently uses the same handshape as the letter X can help you in figuring out how to sign recently.
      </P>
      <section name="handshapes">
          <!-- Use the alphabet or number for handshape names whenever possible. Otherwise use the Jalonta Lapiak name for the handshape, whre available(she is missing the ILY handshape for example).  It's possible this would be better as a table, but for now it's <DT>'s linking to a page for each handshape.
          -->
          <dl>
              <dt><a href="1.html">1</dt>
                  <dd><img src="1.svg"></a> </dd>
	          <dt><a href="x.html">X</dt>
                  <dd><img src="x.svg"></a></dd>
              <dt><a href="1-claw2.html">1-claw2</dt>
              <dd>Need SVG, a very tight curl X handshape. See: Apple</a></dd>
              <dt><a href="d.html">D</dt>
                  <dd><img src="d.svg"></a></dd>
              <dt>1-bent</dt>
              <dd>Need SVG, #1 slightly bent, so index is even with knuckle of middle finger. See: Eyelash.</dd>
              <dt>1-flat</dt>
              <dd>Need SVG, Like NO, but with only the index and not the middle finger also extended. See: Vird/Chicken</dd>
              <dt>1-close</dt>
                  <dd>Need SVG, Like O, but only the index and thumb are out and connect. See: Ear ring, Nose Ring.</dd>
              <dt><a href="v.html">V</dt>
                  <dd><img src="v.svg"> </a></dd>
              <dt><a href="u.html"> U</dt>
                  <dd><img src="u.svg"></a></dd>
              <dt>2-claw</dt>
                  <dd>need SVG, like X but with index and middle finger out and "clawed"/bent.</dd>
              <dt>2-bent</dt>
                  <dd>need SVG, like N, but the index and middle finger are out. See cute, neice, nephew, etc</dd>
              <dt><a href="r.html">R</dt>
                  <dd><img src="r.svg"> </a></dd>
              <dt><a href="3.html">3</dt>
                  <dd><img src="3.svg"></a></dd>
                  <dt>3-claw</dt>
                  <dd>Need SVG.</dd>
              <dt>3-bent</dt>
              <dt>3-flat</dt>
              <dt>3-inverse</dt>
              <dt>3-thumb (K, P)</dt>
              <dt>4-open</dt>
              <dd>The "4" handshape is an open hand fingers spread wide, with the thumb tucked in against the palm, so 4 fingers are showing.</dd>
              <dt>4-claw</dt>
              <dt>4-bent</dt>
              <dt>4-thumb (E)</dt>
              <dt>4-inverse (I, J)</dt>
              <dt>5-open</dt>
              <dd>The "5" handshape is an open hand fingers spread wide, like the number 5.</dd>
              <dt>5-thumb open</dt>
              <dt>5-thumb close</dt>
              <dt>5-claw</dt>
              <dt>5-bent</dt>
              <dt>5-c</dt>
              <dt>5-close half</dt>
              <dt>5-close</dt>
              <dt>5-close flat</dt>
              <dt>6</dt>
              <dt>6-claw</dt>
              <dt>6-inverse (Y)</dt>
              <dt>7</dt>
              <dt>7-open</dt>
              <dt>7-8</dt>
              <dt>8</dt>
              <dt>8-open</dt>
              <dt>8-inverse</dt>
              <dt>9 (F)</dt>
              <dt>9-open</dt>
              <dt>9-inverse (L)</dt>
              <dt>9-inverse claw</dt>
              <dt>9-inverse bent (G, Q)</dt>
              <dt>10-open</dt>
              <dt>10 (A)</dt>
              <dd>The "A" handshape is a closed fist with the thumb tucked next to the index finger</dd>
              <dt>10-close (S)</dt>
              <dt>10-t</dt>
              <dt>1-t (T)</dt>
              <dt>S</dt>
              <dd>The "S" handshape is a closed fist, with thumb tucked over the fingers.</dd>
              <dt>O</dt>
              <dd></dd>
              <dt>ILY</dt>
              <dd>The I Love You handshape</dd>
          </dl>
      </section>
    </section>
</article>
