<article id="handshape-R" >
    <section>
        <H2>R</H2>
		<img src="r.svg">
		<P>HandshapeDescriptionHere</P>
        <P>In hold-move chart: <a href="https://en.wiktionary.org/wiki/Index:American_Sign_Language/R">Ro-f</a></P>
        <P>Jolanta Lapiak handshape: <a href="https://www.handspeak.com/ref/handshape/index.php?abc=2-cross">2-cross</a>
        <H3>Signs using this handshape:</H3>
        <UL>
            <li>Alphabet letter R</li>
            <li>red</li>
            <li></li>
        </UL>
    </section>
</article>
