<article id="handshape-U" >
    <section>
        <H2>U</H2>
		<img src="u.svg">
		<P>The "U" handshape is an open hand, all fingers and thumb tucked into the palm, except the index and middle finger, which are pointed out away from the palm, but are touching. (so like "2" but the index and middle are touching instead of spread apart).</</P>
        <P>In hold-move chart: <a href="https://en.wiktionary.org/wiki/Index:American_Sign_Language/X"> 1"~o-f</a></P>
        <P>Jolanta Lapiak handshape: <a href="https://www.handspeak.com/ref/handshape/index.php?abc=1-claw">1-claw</a>
        <H3>Signs using this handshape:</H3>
        <UL>
            <li></li>
        </UL>
    </section>
</article>
