<article id="handshape-V" >
    <section>
        <H2>V</H2>
		<img src="v.svg">
		<P>The "2 or V" handshape is an open hand, with all fingers and thumb tucked into the palm, except the index and middle finger, which are spread wide.</P>
        <P>In hold-move chart: <a href="https://en.wiktionary.org/wiki/Index:American_Sign_Language/X"> 1"~o-f</a></P>
        <P>Jolanta Lapiak handshape: <a href="https://www.handspeak.com/ref/handshape/index.php?abc=aslv">2-open</a>
        <H3>Signs using this handshape:</H3>
        <UL>
            <li>The letter V</li>
            <li>The number 2</li>
            <li>See, Saw, Look, etc</li>
        </UL>
    </section>
</article>
