<article id="handshape-X" >
    <section>
        <H2>X</H2>
        <img src="x.svg">
        <P>Fist with thumb covering fingers, with the index finger pointed out in a "claw/bent" shape.</P>
        <P>In hold-move chart: <a href="https://en.wiktionary.org/wiki/Index:American_Sign_Language/X"> 1"~o-f</a></P>
        <P>Jolanta Lapiak handshape: <a href="https://www.handspeak.com/ref/handshape/index.php?abc=1-claw">1-claw</a>
        <H3>Signs using this handshape:</H3>
        <UL>
            <LI>The Letter X</LI>
            <li>Recently</li>
            <li>Need</li>
        </UL>
    </section>
</article>
